{% extends 'registrations/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'registrations/'|add:exhibition_logo %}" alt="" width="200" height="200">
    <h2>Registration</h2>
    <p class="lead">{{ message|safe }}</p>
  </div>

  {% if form %}
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h4 class="mb-3">Account</h4>
      {% crispy form %}
      {% if show_privacy_policy %}<div class="text-muted mt-1"><small>{{ privacy_policy_message|safe }}</small></div>{% endif %}
    </div>
  </div>
  {% endif %}

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <ul class="list-inline">
      <li class="list-inline-item">Go <a class="text-dark" href="{{ next }}">back</a></li>
    </ul>
  </footer>
</div>
{% endblock %}
