{% extends 'registrations/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'registrations/notos_2021.jpg' %}" alt="" width="200" height="200">
    <h2>Registration</h2>
  </div>

  {% for section in printout %}
  <h4 class="mb-3">{{ section.title }}</h4>
  <dl class="row">
    {% for name, value in section.fields.items %}
    <dt class="col-sm-3">{{ name }}</dt>
    <dd class="col-sm-9">{% if value %}{{ value }}{% else %}&nbsp;{% endif %}</dd>
    {% endfor %}
  </dl>
  {% endfor %}
</div>
{% endblock %}

