{% extends 'registrations/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
{{ form.media }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'registrations/notos_2021.jpg' %}" alt="" width="200" height="200">
    <h2>Registration</h2>
    <p class="lead">Please fill out the following information to register for <a class="text-secondary" href="http://hps.gr/notos2021/" target="_blank">NOTOS 2021</a>.</p>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Steps</span>
      </h4>
      <ul class="list-group mb-3">
        {% for step in steps %}
        <li class="list-group-item d-flex justify-content-between {% if step.current %}bg-light{% else %}lh-condensed{% endif %}">
          <div {% if step.current %}class="text-success"{% endif %}>
            <h6 class="my-0">{{ step.title }}</h6>
            <small>{{ step.description }}</small>
          </div>
          <a href="{{ step.url }}" style="line-height: 18px;"><span class="badge {% if step.current %}badge-success{% else %}badge-secondary{% endif %} badge-pill" style="height: 18px;"><span class="fa {% if step.done %}fa-check{% else %}fa-pencil{% endif %}" aria-hidden="true"></span></span></a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">
      {% for step in steps %}
      {% if step.current %}
      {{ step.title }}
      {% endif %}
      {% endfor %}
      </h4>
      {% crispy form %}
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <ul class="list-inline">
      <li class="list-inline-item">Logged in as {{ user.username }}</li>
      <li class="list-inline-item"><a class="text-secondary" href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </footer>
</div>
{% endblock %}
